*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: background;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    display: flex;
    background-color: #091235;
    justify-content: space-between;
    padding: 25px 40px;
    height: 50px;
    align-items: center;
    position: relative;
}

nav ul{
    display: flex;
    list-style: none;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    
}

nav ul li a{
    color: #CDAB54;
    text-decoration: none;
    font-size: 1em;
    width: 70px;
}

nav ul li a:hover{
    color: #FFFFFF;
}

nav ul a{
    
}
/* 
nav a.logo{
    color:#FEFAFF;
    text-decoration: none;
    font-size: 3em;
    margin-left: 30px;
} */

nav .logo img{
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

a.reservation{
    position: relative;
    background: #091235;
    color: #CDAB54;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    /* right: 30px; */
}

.active{
    color: white;
}

a.reservation:hover{
    /* background: #009FF5; */
    letter-spacing: 0.25em;
    /* box-shadow: 0 0 35px var(#009FF5); */
    background: linear-gradient(90deg, #CDAB54 -0.12%, #E2D0A2 23.37%, #CDAB54 50%, #E2D0A2 77.67%, rgba(205, 171, 84, 0.753354) 100.11%, #CDAB54 100.12%);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    color: #091235;
    transition: 0.5s;
}



/* Hamburger */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #FEFAFF;
    border-radius: 3px;
    transition: all 0.5s;
}

#sliding-image{
    margin: 0;
    padding: 0;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #009FF5; */
    scroll-behavior: smooth;
}

/* Sliding Image */
.slider{
    width: 100vw;
    height: 500px;
    /* border-radius: 10px; */
    overflow: hidden;
    justify-content: center;
    scroll-behavior: smooth;
    margin-bottom: 15vh;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 500px;
    object-fit:fill;
}

.navigation-manual{
    position: absolute;
    width: 100vw;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 2px solid #009FF5;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #009FF5;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/* Sliding Image End */

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

.intro{
    display: flex;
    flex-direction: row;
    padding: 0 150px;
    align-items: center;
    gap: 100px;
}

.intro .intro-image img{
    width: 600px;
}

.intro .intro-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    letter-spacing: 2px;
}

.intro .intro-text button{
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    background-color: #091235;
    color: #CDAB54;
    /* width: fit-content; */
}

.intro .intro-text button a{
    text-decoration: none;
    color: #CDAB54;
}

.intro .intro-text button:hover{
    box-shadow: 0px 0px 10px 5px #88A9C3;
    transition: 0.2s;
}

.resto{
    display: flex;
    flex-direction: row;
    padding: 0 150px;
    align-items: center;
    gap: 100px;
    margin-bottom: 20vh;
}

.resto .resto-image img{
    width: 600px;
}

.resto .resto-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    letter-spacing: 2px;
}

.guest{
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    /* flex: 25%;
    max-width: 25%;
    padding: 0 4px; */
    align-items: center;
    display: grid;
    grid-template-columns: auto auto auto;
    /* height: 300px;
    width: 300px; */
    column-gap: 10px;
    margin: 50px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    aspect-ratio: 1;
  }

footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #091235;
    width: 100vw;
    font-family: 'poppins', 'sans serif';
    /* padding-top: 40px; */
    color: #cdab54;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.footer-content h2{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500vw;
    margin: 10px 10px;
    line-height: 20px;
    font-size: 14px;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}









@media (max-width: 768px){
    .menu-toggle{
        display: flex;
    }
    
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #091235;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        padding: 100px;
    }

    nav ul.slide{
        transform: translateX(0%);
        opacity: 1;;
    }
    
}